
/*aca empieza el titulo*/
#titulo {font-style: verdana; border-top-style: double;; text-align: center; color:black;  }

/*color de preparacion e instrucciones*/

.fondo {text-decoration: underline;white; color:white; background-color:	#006400}
/*aca empieza el fondo de la pagina*/
body
{background-image: url(https://img.freepik.com/foto-gratis/fondo-pared-tablones-madera-vieja-fondo-textura-desigual-madera-vieja_35148-75.jpg?size=626&ext=jpg);
  background-position: center;
background-size:  auto;
background-repeat: repeat;} (/body)

/*aca termina el fondo de la pagina*/
/*color lista ul*/ .hola {font-size: 140%; color: white; }

/*color lista ol*/ .chau {font-size: 140%; color: black; }
